<!DOCTYPE html>
<html lang="en">
<head>
	<title>Form</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie-edge">
</head>
<body>
<form action="/register" method="post">
	<input type="text" name="username" id="username" placeholder="用户名">
	<br>
	<input type="password" name="password" id="password" placeholder="密码">
	<br>
	<input type="submit" value="提交">
	<input type="reset" value="重置">
</form>
</body>
</html>